@layer components {
  .text-brand-font-28 {
    font-weight: 500 !important;
    font-size: 28px;
    line-height: 143%;
    text-align: center;
    color: var(--gray-80);
  }

  .text-brand-font-16 {
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 150%;
  }

  .text-brand-font-14 {
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 143%;
  }
}

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
